@import "compass/utilities/sprites/base";

// General Sprite Defaults
// You can override them before you import this file.
$icon-sprite-base-class: ".icon-sprite" !default;
$icon-sprite-dimensions: false !default;
$icon-position: 0% !default;
$icon-spacing: 0 !default;
$icon-repeat: no-repeat !default;
$icon-prefix: '' !default;
$icon-clean-up: true !default;
$icon-layout:vertical !default;

// These variables control the generated sprite output
// You can override them selectively before you import this file.
$icon-images-position: $icon-position !default;
$icon-images-spacing: $icon-spacing !default;
$icon-images-repeat: $icon-repeat !default;

$icon-sprites: sprite-map("icon/*.png", 
$layout: $icon-layout, 
$cleanup: $icon-clean-up,
  $icon-images-position: $icon-images-position,
  $icon-images-spacing: $icon-images-spacing,
  $icon-images-repeat: $icon-images-repeat);

// All sprites should extend this class
// The icon-sprite mixin will do so for you.
#{$icon-sprite-base-class} {
  background: $icon-sprites no-repeat;
}

// Use this to set the dimensions of an element
// based on the size of the original image.
@mixin icon-sprite-dimensions($name) {
  @include sprite-dimensions($icon-sprites, $name)
}

// Move the background position to display the sprite.
@mixin icon-sprite-position($name, $offset-x: 0, $offset-y: 0) {
  @include sprite-background-position($icon-sprites, $name, $offset-x, $offset-y)
}

// Extends the sprite base class and set the background position for the desired sprite.
// It will also apply the image dimensions if $dimensions is true.
@mixin icon-sprite($name, $dimensions: $icon-sprite-dimensions, $offset-x: 0, $offset-y: 0) {
  @extend #{$icon-sprite-base-class};
  @include sprite($icon-sprites, $name, $dimensions, $offset-x, $offset-y)
}

@mixin icon-sprites($sprite-names, $dimensions: $icon-sprite-dimensions, $prefix: sprite-map-name($icon-sprites), $offset-x: 0, $offset-y: 0) {
  @include sprites($icon-sprites, $sprite-names, $icon-sprite-base-class, $dimensions, $prefix, $offset-x, $offset-y)
}

// Generates a class for each sprited image.
@mixin all-icon-sprites($dimensions: $icon-sprite-dimensions, $prefix: sprite-map-name($icon-sprites), $offset-x: 0, $offset-y: 0) {
  @include icon-sprites(images, $dimensions, $prefix, $offset-x, $offset-y);
}
