/* line 2, ../../sass/presentation.scss */
.deck-container {
  width: auto;
  max-width: 864px;
  margin: 16px auto 24px auto;
  min-height: 560px;
  font-size: 16px;
}

/* line 9, ../../sass/presentation.scss */
.no-boxshadow .deck-container {
  border: 1px solid #e4e4e4;
}

/* line 12, ../../sass/presentation.scss */
.boxshadow .deck-container {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

/* line 18, ../../sass/presentation.scss */
.live-code {
  display: table;
  height: 450px;
}
/* line 21, ../../sass/presentation.scss */
.live-code .styles, .live-code .markup, .live-code .headers {
  display: table-row;
}
/* line 24, ../../sass/presentation.scss */
.live-code .sass, .live-code .css, .live-code .html, .live-code .display, .live-code .header {
  display: table-cell;
  vertical-align: top;
  width: 430px;
  height: 200px;
}
/* line 30, ../../sass/presentation.scss */
.live-code .header {
  height: auto;
  font-size: 28px;
  text-shadow: 2px 2px 2px #cccccc;
}
/* line 35, ../../sass/presentation.scss */
.live-code textarea {
  width: 90%;
  height: 90%;
}
/* line 39, ../../sass/presentation.scss */
.live-code button.compile {
  font-size: 12px;
  float: right;
  margin-right: 9%;
  margin-top: 5px;
}
/* line 45, ../../sass/presentation.scss */
.live-code .css {
  white-space: pre;
  font-family: "Courier New";
  overflow: auto;
}
/* line 49, ../../sass/presentation.scss */
.live-code .css .error {
  color: #c00;
  overflow: auto;
  white-space: normal;
}

@media print {
  /* line 58, ../../sass/presentation.scss */
  header {
    display: none !important;
  }

  /* line 62, ../../sass/presentation.scss */
  .introduction .deck-container {
    font-size: 1.25em;
  }
}
