.hover {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  body.border-radius & {
    foo: bar;
  }
}

#sidebar {
  h3 {
    font: {
      size: 2.5em;
      color: #333;
    }
  }
}

.nested {
  @import "partial";
}
