.feedback, .warning, .error {
  font-weight: bold;
  font-size: 16px;
  border: 3px solid black;
}
.feedback .icon, .warning .icon, .error .icon {
  float: left;
  background-image: url(/images/feedback.png);
  width: 32px;
  height: 32px;
}

.warning {
  border-color: red;
  background-color: #ff9999;
}
.warning .icon {
  background-image: url(/images/warning.png);
}

.error {
  border-color: red;
  background-color: #ff9999;
}
.error .icon {
  background-image: url(/images/error.png);
}

#sidebar .feedback, #sidebar .warning, #sidebar .error {
  font-style: normal;
}
