@import "compass/css3";
$height: 800px;
$width: 864px;
.deck-container {
  width: auto;
  max-width: 864px;
  margin: 16px auto 24px auto;
  min-height: $height;
  font-size: 16px;
}
.no-boxshadow .deck-container {
  border: 1px solid #e4e4e4;
}
.boxshadow .deck-container {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.live-code {
  section {
    position: absolute;
    padding: 3px;
    @include transition-duration(1s);
    @include transition-property((top, bottom, left, right, z-index, font-size));
  }
  $section-ratio: 0.56;
  section.html {
    bottom: 35px;
    top: $section-ratio * $height;
    left: 10px;
    right: $section-ratio * $width;
  }
  section.result {
    bottom: 35px;
    top: $section-ratio * $height;
    right: 10px;
    left: $section-ratio * $width;
  }
  section.sass {
    top: 70px;
    bottom: $section-ratio * $height;
    left: 10px;
    right: $section-ratio * $width;
  }
  section.css {
    top: 70px;
    bottom: $section-ratio * $height;
    right: 10px;
    left: $section-ratio * $width;
  }
  section.fullsize {
    top: 70px;
    bottom: 35px;
    right: 5px;
    left: 5px;
    z-index: 10;
    background: #EBF7FB;
    border: 2px groove #777;
    font-size: 24px;
    @include box-shadow(3px 3px #ccc);
  }
  .source-changer {
    float: right;
    margin: 2px 4px;
  }
  .alternate-source {
    display: none;
  }
  .source {
    display: block;
  }
  .output {
    padding: 5px;
  }
  .resizer {
    float: right;
    margin: 0 0 0 4px;
    font: auto;
  }
  h3 {
    height: auto;
    font-size: 28px;
    @include text-shadow(2px 2px 2px #ccc);
  }
  textarea, .output {
    width: 98%;
    height: 85%;
    border: 1px solid #ccc;
  }
  textarea {
    height: 87%;
  }
  button.compile, select.format {
    float: right;
  }
  .css {
    .output {
      white-space: pre;
      font-family: "Courier New";
      overflow: auto;
    }
    .error {
      color: #c00;
      overflow: auto;
      white-space: normal;
    }
  }
}

@media print {
  header {
    display: none !important;
  }

  .introduction .deck-container {
    font-size: 1.25em;
  }
}

