$icon-layout: smart;

@import "icon/*.png";

#container {
  text-align: center;
  margin: 4em 0;
  font-family: Arial, "MS Trebuchet", sans-serif;
  h1 { margin-bottom: 2em; }
}

@include all-icon-sprites;

#toolbar {
  overflow: none;
  display: inline-block;
  margin: 0; padding: 0;
  > command { float: left; width: 48px; height: 48px; }
}
