@mixin clearfix {
  &:after {
    content    : " ";
    display    : block;
    height     : 0;
    clear      : both;
    overflow   : hidden;
    visibility : hidden;
  }
  zoom: 1;
}

.clearfixed {
  @include clearfix;
}